__pycache__
Modules/Chatbot/Data/
Modules/Chatbot/utils/
Modules/Chatbot/Docs/
.vscode
API_KEY*
Modules/RecommendationSystem/Data
Modules/Chatbot/src/Intent_Classification/Data/
Modules/Chatbot/src/Intent_Classification/models/
Modules/Chatbot/src/Sentimental_Analysis/Data
Modules/Chatbot/src/Sentimental_Analysis/data_preprocessing
Modules/Chatbot/src/Sentimental_Analysis/pos_neg/new
Modules/Chatbot/src/Recommendation_intent/intent/Data/
Modules/Chatbot/src/Recommendation_intent/draft