__pycache__
Modules/Chatbot/Data/
Modules/Chatbot/Docs/
Modules/RecommendationSystem/Data/
Modules/RecommendationSystem/utils/movie_recommender
UI/Calendar/node_modules
UI/Calendar/.*
API_KEY*
Modules/RecommendationSystem/Data
.vscode
API_KEY*
Modules/RecommendationSystem/Data
Modules/Chatbot/src/Intent_Classification/Data/
Modules/Chatbot/src/Sentimental_Analysis/Data
Modules/Chatbot/src/Sentimental_Analysis/data_preprocessing
Modules/Chatbot/src/Sentimental_Analysis/pos_neg/new
Modules/Chatbot/src/Recommendation_intent/intent/Data/
Modules/Chatbot/src/Recommendation_intent/draft
Modules/RecommendationSystem/utils
Modules/RecommendationSystem/Data
Modules/Chatbot/utils/movie_recommender
